<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		    <add name="connection" connectionString="Data Source=|DataDirectory|dbinsumos.db;Version=3;New=False;Compress=True;"
            providerName="System.Data.SQLite" />
	</connectionStrings>
	<appSettings>
		<!-- access these values via the property:
			System.Configuration.ConfigurationManager.AppSettings[key]
		-->
		<add key="Setting1" value="Very" />
		<add key="Setting2" value="Easy" />
 	</appSettings>
</configuration>
